<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "helloWorld" name="helloWorld" class="com.example.SpringBootDemo.study.beans.HelloWorldImpl">
        <!-- ref建立bean之间的关系-->
        <constructor-arg ref="innerHelloWorld" ></constructor-arg>
        <property name="name" value="Spring"></property>
    </bean>
    <bean id="innerHelloWorld" class="com.example.SpringBootDemo.study.beans.InnerHelloWorldImpl"></bean>
</beans>